*{
    margin:0;
    padding:0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;// 1rem = 10px
}

body{
    font-size: 1.4rem; // choose your font size
    font-family: 'Josefin Sans', sans-serif; // choose your font
    background-color: #242424;
    color: #fff;
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

